<h1>Agrega un nuevo Pins</h1>
<div class="container">
  <div class="col-6">
   <div class="row">
     <%= render 'form', pin: @pin %>
   </div>
  </div>
 <p> <%= link_to 'Back', pins_path %></p>

</div>
